<div layout="column" flex data-ng-controller="IndexController">
  <md-content layout="column" layout-padding flex>
    <div layout="row" layout-align="space-around start" layout-padding flex>

      <div class="left" layout="column" flex>
        <p>Welcome to <strong>threaDDS</strong>. This is a threaded discussion platform that
        will let LMS embed their discussion list on their courses using the standard LTI.</p>
      </div>
      <div class="right" layout="column" flex>
        <img src="/meanStarter/assets/img/main2.png" alt="" style="width: 100%"/>
      </div>
    </div>
  </md-content>

</div>
