h1 {
	text-align: center
}
.ta-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group button {
  min-width: 0;
  min-height: 0;
  line-height: normal;
  margin-left: 0;
  color: rgba(0, 0, 0, 0.54);
}
.ta-toolbar .ta-button-group button md-icon {
  color: rgba(0, 0, 0, 0.54);
}
.ta-toolbar .ta-button-group button.active {
  background-color: #f5f5f5;
}

.ta-text-editor .ta-bind {
  border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
}
.ta-text-editor .ta-bind:focus {
  border-bottom: 2px solid #3f51b5;
  outline: none;
}

.threadSection md-input-container {
	margin-bottom: 0;
}

.threadSection md-card-content {
	padding-bottom: 0;
}

md-card.unpublished {
	background-color: #EFEFEF;
}

ul.threads li:not(:last-child) {
	border-bottom: 1px solid #ccc
}
