<md-card >
  <md-card-content >
  <form name="threadForm" class="form-horizontal col-md-6" role="form" data-ng-submit="create()" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && threadForm.title.$invalid }">
      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <md-input-container class="md-block" flex-gt-sm >
          <input type="text" id="title" ng-model="newThread.title" placeholder="Title" required>
        </md-input-container>
        <div ng-show="submitted && threadForm.title.$invalid" class="help-block">
          <p ng-show="threadForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && threadForm.body.$invalid }">
      <label mean-token="'create-content'" for="body" class="col-md-3 control-label">Content</label>
      <div class="col-md-9">
        <md-input-container class="md-block" flex-gt-sm >
          <text-angular class="mui-textfield" name="body" data-ng-model="newThread.body" id="body" cols="30" rows="10" placeholder="Content" class="form-control" required></text-angular>
        </md-input-container>
        <div ng-show="submitted && threadForm.body.$invalid" class="help-block">
          <p ng-show="threadForm.body.$error.required">Content is required</p>
        </div>
      </div>
    </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <md-button md-no-ink class="md-raised md-primary" mean-token="'create-submit'" type="submit">Post the thread</md-button>
        <md-button md-no-ink  ng-click="back()">Cancel</md-button>

    </div>
  </div>
</form>
</md-card-content>
</md-card>
