<section flex data-ng-controller="ThreadsController" data-ng-init="findOne()">
  <md-card>
  <md-card-content>
  <form name="threadForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(threadForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && threadForm.title.$invalid }">
      <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <md-input-container class="md-block" flex-gt-sm >
          <input type="text" id="title" ng-model="thread.title" required placeholder="Write a tilte for this discussion thread">
        </md-input-container>
              <div ng-show="submitted && threadForm.title.$invalid" class="help-block">
          <p ng-show="threadForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && threadForm.content.$invalid }">
      <label mean-token="'edit-content'" for="content" class="col-md-2 control-label">Content</label>
      <div class="col-md-10">
         <md-input-container class="md-block" flex-gt-sm >
          <text-angular class="mui-textfield" name="body" data-ng-model="thread.body" id="body" cols="30" rows="10" placeholder="Write here what you want to discuss..." class="form-control" required></text-angular>
        </md-input-container>
        <div ng-show="submitted && threadForm.content.$invalid" class="help-block">
          <p ng-show="threadForm.content.$error.required">Content is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
          <md-button md-no-ink class="md-raised md-primary" mean-token="'edit-submit'" type="submit">Submit</md-button>
    </div>
      </div>
    </div>
  </form>
  <md-card-content>
  </md-card>
</section>
