<section flex data-ng-controller="ThreadsController" data-ng-init="find()">
<h2 style="padding-left:10px"> Recent threaded discussions </h2>
  <md-card data-ng-repeat="thread in threads">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" gravatar-src="thread.user.email"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{thread.user.name}}</span>
        <span class="md-subhead">{{thread.created | date : 'fullDate'}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <a href="/threads/{{thread._id}}" class="md-headline md-primary">{{thread.title}}</a>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span ng-bind-html="thread.body |limitTo: 50 | newlines"></span><span ng-show="thread.body.length>50">...</span>
    </md-card-content>

    <md-card-actions  layout="row" layout-align="start center">
      <md-card-icon-actions>
        <span flex></span>

        <md-button ng-if="thread.youLike" ng-click = "unlike(thread)"  aria-label="Favorite">
          {{thread.likes.length}}
          <md-icon class="material-icons" style="color:deeppink;">favorite</md-icon>
        </md-button>
        <md-button ng-if="!thread.youLike" ng-click = "like(thread)"  aria-label="Favorite">
          {{thread.likes.length}}
          <md-icon class="material-icons">favorite</md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target" >
          <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
            <md-icon class="material-icons" >more_vert</md-icon>
          </md-button>
          <md-menu-content >
            <md-menu-item ng-show="{{thread.user._id === currentUserId}}">
              <md-button >
                <div layout="row" flex>
                  <md-icon md-menu-align-target >flag</md-icon>
                  <p flex>Flag as in innapropiate</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-click ="edit(thread)" ng-show="{{thread.user._id === currentUserId}}">
              <md-button >
                <div layout="row" flex>
                  <md-icon md-menu-align-target>mode_edit</md-icon>
                  <p flex>Edit</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-show="{{thread.user._id === currentUserId && childnode.published}}">
              <md-button  ng-click="edit(thread)">
                <div layout="row" flex>
                  <md-icon md-menu-align-target >speaker_notes_off</md-icon>
                  <p flex>Unpublish</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-show="{{thread.user._id === currentUserId && !childnode.published}}">
              <md-button  ng-click="unpublishComment(childnode)">
                <div layout="row" flex>
                  <md-icon md-menu-align-target>chat</md-icon>
                  <p flex>Re-publish</p>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-icon-actions>
    </md-card-actions>
  </md-card>


  <h1 data-ng-hide="!threads || threads.length">No threads yet. <br> Why don't you <a href="/threads/create">Create One</a>?</h1>
  <md-button ng-click="goCreateThread()" class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple" aria-label="Add new thread"><md-icon >add</md-icon></md-button>

</section>
