<!-- Nested node template -->
<script type="text/ng-template" id="wtree.html">
  <div layout="row">
    <div flex flex-offset="{{(childnode.parents.length * 5) - 5}}">
      <md-card ng-class="!childnode.published ? 'unpublished' : ''">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" gravatar-src="childnode.user.email"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{childnode.user.name}}</span>
            <span class="md-subhead">{{childnode.created | date : 'medium'}}</span>
              <span ng-if="!childnode.published" class="md-subhead">Message unpublished</span>
          </md-card-header-text>
        </md-card-header>

        <md-card-content ng-if="childnode.published || childnode.user._id == currentUserId">
          <p ng-bind-html="childnode.body | newlines"></p>
          <form ng-show="childnode.reply" name="threadForm_{{childnode._id}}" class="form-horizontal col-md-6" role="form" novalidate>
            <div class="form-group row">
              <div class="col-md-9">
                <md-input-container class="md-block" flex-gt-sm >
                  <text-angular  class="mui-textfield"  id="response_{{childnode._id}}" data-ng-model="childnode.response" cols="30" placeholder="Write here your response to this comment.." class="form-control" ></text-angular>
                </md-input-container>
              </div>
            </div>
          </form>
        </md-card-content>
        <md-card-actions ng-if="childnode.published || childnode.user._id == currentUserId" layout="row" layout-align="start center">
          <md-button ng-show="childnode.reply && (childnode.rows > 20 || childnode.response.length > 0)" md-no-ink class="md-raised md-primary" mean-token="'create-submit'" ng-click="create(childnode)">Post as {{currentUsername}} </md-button>
          <md-button ng-hide="childnode.reply" aria-label="Reply" ng-click="expandResponseComment(childnode)">
            Reply
          </md-button>

          <md-card-icon-actions>
            <md-button ng-if="childnode.youLike" ng-click = "unlike(childnode)"  aria-label="Favorite">
              {{childnode.likes.length}}
              <md-icon class="material-icons" style="color:deeppink;">favorite</md-icon>
            </md-button>
            <md-button ng-if="!childnode.youLike" ng-click = "like(childnode)"  aria-label="Favorite">
              {{childnode.likes.length}}
              <md-icon class="material-icons">favorite</md-icon>
            </md-button>
            <md-menu md-position-mode="target-right target" >
              <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons" >more_vert</md-icon>
              </md-button>
              <md-menu-content >
                <md-menu-item>
                  <md-button >
                    <div layout="row" flex>
                      <md-icon md-menu-align-target style="margin: auto 3px auto 0;">flag</md-icon>
                      <p flex>Flag as in innapropiate</p>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="{{childnode.user._id === currentUserId}}">
                  <md-button >
                    <div layout="row" flex>
                      <md-icon md-menu-align-target >mode_edit</md-icon>
                      <p flex>Edit</p>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="{{childnode.user._id === currentUserId && childnode.published}}">
                  <md-button  ng-click="unpublishComment(childnode)">
                    <div layout="row" flex>
                      <md-icon md-menu-align-target style="">speaker_notes_off</md-icon>
                      <p flex>Unpublish</p>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="{{childnode.user._id === currentUserId && !childnode.published}}">
                  <md-button  ng-click="republishComment(childnode)">
                    <div layout="row" flex>
                      <md-icon md-menu-align-target  >chat</md-icon>
                      <p flex>Re-Publish</p>
                    </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-card-icon-actions>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div layout="column" ng-if="childnode.children">
    <div ng-repeat="childnode in childnode.children | orderBy : 'created'" ng-include="'wtree.html'"></div>
  </div>
</script>

<div layout="column" ng-model="thread.children" >
  <h2 style="padding-left:10px" class="">Replies</h2>
  <div  ng-repeat="childnode in thread.children | orderBy : 'created'" ng-include="'wtree.html'"></div>
</div>
