<section flex class="threadSection" data-ng-controller="ThreadsController" data-ng-init="initAnswer()"  >

  <md-card ng-show="!thread" style="min-height: 100px;">
    <div layout="row" layout-sm="column" layout-align="center center" >
        <md-progress-circular  layout-align="center center" md-mode="indeterminate" value="{{vm.determinateValue}}"></md-progress-circular>
    </div>
  </md-card>

  <md-card ng-show="thread">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" gravatar-src="thread.user.email"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{thread.user.name}}</span>
        <span class="md-subhead">{{thread.created | date : 'fullDate'}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{thread.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p ng-bind-html="thread.body | newlines"></p>
    </md-card-content>
  <md-card-actions>
      <md-card-icon-actions>
        <span flex></span>

      <md-button ng-if="thread.youLike" ng-click = "unlike(thread)"  aria-label="Favorite">
        {{thread.likes.length}}
        <md-icon class="material-icons" style="color:deeppink;">favorite</md-icon>
      </md-button>
      <md-button ng-if="!thread.youLike" ng-click = "like(thread)"  aria-label="Favorite">
        {{thread.likes.length}}
        <md-icon class="material-icons">favorite</md-icon>
      </md-button>
      <md-menu md-position-mode="target-right target" >
        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
          <md-icon class="material-icons" >more_vert</md-icon>
        </md-button>
        <md-menu-content >
          <md-menu-item>
            <md-button >
              <div layout="row" flex>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">flag</md-icon>
                <p flex>Flag as in innapropiate</p>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="{{thread.user._id === currentUserId}}">
            <md-button >
              <div layout="row" flex>
                <md-icon md-menu-align-target >mode_edit</md-icon>
                <p flex>Edit</p>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="{{thread.user._id === currentUserId && thread.published}}">
            <md-button  ng-click="unpublishComment(thread)">
              <div layout="row" flex>
                <md-icon md-menu-align-target style="">speaker_notes_off</md-icon>
                <p flex>Unpublish</p>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="{{thread.user._id === currentUserId && !thread.published}}">
            <md-button  ng-click="republishComment(thread)">
              <div layout="row" flex>
                <md-icon md-menu-align-target  >chat</md-icon>
                <p flex>Re-Publish</p>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card-icon-actions>
  </md-card-actions>
  </md-card>
  <md-card ng-show="thread">
    <md-card-content>
      <form name="threadForm" class="form-horizontal col-md-6" role="form" novalidate>
        <div class="form-group">
          <div class="form-group" ng-class="{ 'has-error' : submitted && threadForm.body.$invalid }">
          <div class="col-md-9">
            <md-input-container class="md-block" flex-gt-sm >
              <text-angular name="body" data-ng-model="newThread.body" id="body" placeholder="Write here your comment..." class="form-control" ></text-angular>
            </md-input-container>
            <div ng-show="submitted && threadForm.body.$invalid" class="help-block">
              <p ng-show="threadForm.body.$error.required">Content is required</p>
            </div>
          </div>
        </div>
      </div>
      </form>
    </md-card-content>
    <div>

    </div>
    <md-card-icon-actions>
      <md-button md-no-ink class="md-raised md-primary" mean-token="'create-submit'" ng-click="create(thread)">
        <md-icon>insert_comment</md-icon>
        Post as {{currentUsername}} </md-button>
    </md-card-icon-actions>
  </md-card>
  <div ng-show="thread.children.length > 0">
    <ng-include src="'/threads/views/tree.html'" />
  </div>

</section>
