<md-content layout="row" flex layout-align="space-around center" layout-padding ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''">
  <md-card ui-view flex=40>  </md-card>
  <md-card flex=30>
  <md-list flex data-ng-controller="StarterController" >
      <md-header class="md-no-sticky">Login to ThreaDDS with your social media account or email address</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="(key, val) in socialButtons" ng-click="go('/api/auth/'+key)">
        <img  class="md-avatar" src="/meanStarter/assets/img/social_{{key}}.png" />
        <div class="md-list-item-text" layout="column">
          <h3>{{key}}</h3>
        </div>
    </md-list-item>
  </md-list>
</md-card>
</md-content>
